body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#videoStream {
    width: 80%;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#uploadBtn {
    background-color: #ccc;
    color: black;
}

#stopBtn {
    background-color: red;
    color: white;
}

#testBtn {
    background-color: #007bff;
    color: white;
}
